<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <div class="nav-container">
    
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" target="_blank" href="https://github.com/0xFireball/Template-NfxPentagonal">NfxPentagonalCore</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <section class="intro">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>
        This is a basic NancyFx app built on the awesome <a href="https://github.com/0xFireball/Template-NfxPentagonal" target="_blank">NfxPentagonalCore</a>        template. It comes preconfigured with <a href="https://github.com/0xFireball/Pentagonal">Pentagonal</a>.
      </p>
    </div>
  </section>
  <section class="content">
    <div class="container">
      <h2>What to do next</h2>
      <h5>New to NancyFx?</h5>
      <ul>
        <li>Consider reading <a target="_blank" href="https://gist.github.com/0xFireball/19a859416cfb19897043685667dd2dfe">my super accelerated guide</a>          to NFx.</li>
        <li>Don't forget to read the <a target="_blank" href="https://github.com/NancyFx/Nancy/wiki">official docs</a>!</li>
      </ul>
      <h5>Recommended Libraries</h5>
      <ul>
        <li>
          Install <a target="_blank" href="https://github.com/0xFireball/Pentagonal">Pentagonal</a> to start working on your
          app without worrying about basic boilerplate code. It takes care of authentication, API access, gives you a bunch
          of utilities, and more. <b>Pentagonal is included in this template.</b>
        </li>
        <li>
          Need a Redis client? <a href="https://github.com/StackExchange/StackExchange.Redis" target="_blank">StackExchange.Redis</a>          is the way to go.
        </li>
      </ul>
    </div>
  </section>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="/js/vendor/jquery-3.1.1.slim.min.js"></script>
  <script src="/js/vendor/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>